body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: radial-gradient(#5b96f5,#f55b5b);
    margin-bottom:50%;
}

h4{
padding-left: 200px;
padding-right: 200px;
}

img{
border-radius: 10%;
border-style: solid;
border-color: white;
}